# Unity generated folders
[Ll]ibrary/
[Tt]emp/
[Oo]bj/

[Bb]uilds/
[Ll]ogs/
UserSettings/

# MemoryCaptures
[Mm]emoryCaptures/

# Asset meta data
!/[Aa]ssets/**/*.meta
!/[Pp]ackages/**/*.meta
!/[Pp]rojectSettings/**/*.meta

# Visual Studio / Rider
.vs/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj

# WebGL build output (important)
*.webgl
*.unityweb
Build/WebGL/